// Colors:

$border:             #9c9c9c;
$shadow:             #00000033;
$background:         #f1f1f1;

$dark-green:         #28b485;
$light-green:        #7ed56f;
$medium-green:       #55c57a;

$card-back:          #080808;
$card-front:         #ffffff;

$white-text-color:   #f8f7f7;
$black-text-color:   #636363;


// Grid system:

$grid-width: 114rem;
$horizontal-gap: 8rem;
$vertical-gap: 6rem;